/* Reset styles */
body, h1, p, ul, li, form, button {
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
}
/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #B67352;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #f19d9d;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700; /* Change color on hover */
}
.news-feed {
    border-top: 1px solid #ccc; /* Add a top border */
}

.article {
    padding: 20px 0;
    border-bottom: 1px solid #8780cb; /* Add a bottom border */
}

.article h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.article p {
    margin-top: 0;
}

.live-news .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #CCD3CA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Add rounded corners */
}

/* Add the following CSS rule to style the live-news section heading */
.live-news h2 {
    color: #333; /* Darker color for section titles */
    margin-bottom: 10px;
}

/* Add the following CSS rule to style the live-news section news-feed container */
.live-news .news-feed {
    border-top: 1px solid #ccc; /* Add a top border */
}

 .about-container, .contact-container, .query-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #CCD3CA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Add rounded corners */
}

.about-container h2, .contact-container h2, .query-container h2 {
    color: #333; /* Darker color for section titles */
    margin-bottom: 10px;
}

.about-container p, .contact-container p, .query-container p {
    color: #666; /* Lighter color for section text */
    margin-bottom: 20px;
}

.query-container form {
    margin-top: 20px;
}

.query-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
    margin-bottom: 10px;
}

.query-container button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.query-container button:hover {
    background-color: #555; /* Darker background on hover */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #C7B7A3;
    color: #0A1D56;
}
